[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
progress = "*"
matplotlib = "*"
pyqt5 = "*"
opencv-python-headless = "*"

[dev-packages]
pyinstaller = "*"
pip-licenses = "*"

[requires]
python_version = "3.8"
