-i https://pypi.org/simple
contourpy==1.0.7; python_version >= '3.8'
cycler==0.11.0; python_version >= '3.6'
fonttools==4.39.2; python_version >= '3.8'
importlib-resources==5.12.0; python_version < '3.10'
kiwisolver==1.4.4; python_version >= '3.7'
matplotlib==3.7.1
numpy==1.24.2; python_version >= '3.8'
opencv-python-headless==4.7.0.72
packaging==23.0; python_version >= '3.7'
pillow==9.4.0; python_version >= '3.7'
progress==1.6
pyparsing==3.0.9; python_full_version >= '3.6.8'
pyqt5==5.15.9
pyqt5-qt5==5.15.2
pyqt5-sip==12.11.1; python_version >= '3.7'
python-dateutil==2.8.2; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
zipp==3.15.0; python_version < '3.10'
